@using Proyecto.Domain.InputModels.Colaborador;
@model NuevoColaborador
@{
    ViewData["Title"] = "Añadir Colaborador";
    Layout = "~/Views/Shared/_LayoutNoNavbar.cshtml";
}

<div class="container-fluid" style="max-width: 924px;">
    <div class="row">
        <div class="col-12">
            <h1><i class="fa-solid fa-person-circle-plus"></i> Add Colaboradores</h1>
        </div>
    </div>
    <form method="post">
        <fieldset>
            <div class="table">
                <div class="row">
                    <div class="col-12 text-danger form-text" asp-validation-summary="ModelOnly"></div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.NombreColaborador" class="form-label"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.NombreColaborador" class="form-control">
                        <span asp-validation-for="@Model.NombreColaborador" class="text-danger form-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.ApellidoColaborador" class="form-label"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.ApellidoColaborador" class="form-control">
                        <span asp-validation-for="@Model.ApellidoColaborador" class="text-danger form-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.CedulaColaborador" class="form-label"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.CedulaColaborador" class="form-control">
                        <span asp-validation-for="@Model.CedulaColaborador" class="text-danger form-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.CorreoElectronico" class="form-label"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.CorreoElectronico" class="form-control">
                        <span asp-validation-for="@Model.CorreoElectronico" class="text-danger form-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.NumeroTelefono" class="form-label"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.NumeroTelefono" class="form-control">
                        <span asp-validation-for="@Model.NumeroTelefono" class="text-danger form-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.DireccionColaborador" class="form-label"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.DireccionColaborador" class="form-control">
                        <span asp-validation-for="@Model.DireccionColaborador" class="text-danger form-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.SalarioColaborador" class="form-label"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.SalarioColaborador" class="form-control">
                        <span asp-validation-for="@Model.SalarioColaborador" class="text-danger form-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-user-shield"></i>Agregar</button>
                        <a asp-asp-controller="Colaboradores" asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                    </div>
                </div>
        </fieldset>
    </form>
</div>