@using Proyecto.Domain.InputModels.Usuarios;
@model NuevoUsuario
@{
    ViewData["Title"] = "Añadir Usuario";
    Layout = "~/Views/Shared/_LayoutNoNavbar.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h2 class="mt-5">Registro</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-4 text-center">¿Deseas crear una cuenta?</h3>
                    @if (@ViewBag.MsjPantalla != null)
                    {
                        <div class="alert alert-warning" role="alert">
                            @ViewBag.MsjPantalla
                        </div>
                    }
                    <form asp-action="Registro" method="post">
                        <div class="form-group">
                            <div class="d-md-flex">
                                <div class="w-50">
                                    <label asp-for="@Model.NombreUsuario">Nombre de Usuario</label>
                                    <input asp-for="@Model.NombreUsuario" class="form-control" />
                                    <span asp-validation-for="@Model.NombreUsuario" class="text-danger"></span>
                                </div>
                                <div class="w-50">
                                    <label asp-for="@Model.PasswordUsuario">Contraseña</label>
                                    <input asp-for="@Model.PasswordUsuario" type="password" class="form-control" />
                                    <span asp-validation-for="@Model.PasswordUsuario" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                        </div>
                    </form>
                    <div class="social d-flex text-center">
                        <a asp-controller="Login" asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
