@using Proyecto.Domain.DTOs.Productos;
@model List<Producto>
@{
    ViewData["Title"] = "Productos";
}

<div class="container">
    <h1 class="mt-4"><i class="bi bi-person"></i> Productos</h1>
    <a asp-controller="Productos" asp-action="Insert" class="btn btn-success mb-3">
        <i class="bi bi-person-plus"></i> Agregar Producto
    </a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre del Producto</th>
                <th>Descripción del Producto</th>
                <th>Categoria del Producto</th>
                <th>Precio del Producto</th>
                <th>Imagen del Producto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Producto in Model)
            {
                <tr>
                    <td>@Producto.NombreProducto</td>
                    <td>@Producto.DescripcionProducto</td>
                    <td>@Producto.IdCategoria</td>
                    <td>@Producto.PrecioProducto</td>
                    <td>@Producto.ImagenProducto</td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <i class="bi bi-pencil"></i> Editar
                        </button>
                        <button type="button" class="btn btn-danger" onclick="Delete(@Producto.IdProducto)">
                            <i class="bi bi-trash"></i> Eliminar
                        </button>
                        <button type="button" class="btn btn-success" onclick="AddToCart(@Producto.IdProducto)">
                            <i class="bi bi-cart-plus"></i> Agregar al Carrito
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function Delete(id) {
        $.ajax({
            url: "/api/v1/Productos/delete/" + id,
            method: "DELETE",
            dataType: "json",
            contentType: "application/json"
        }).done(function (response) {
            if (response.success) {
                toastr.success("El producto ha sido eliminado correctamente");
                location.reload(); // Actualizar la página después de eliminar
            }
            else {
                toastr.error(response.errorMessage);
            }
        });
    }
</script>

<script type="text/javascript">
    function AddToCart(productId) {
        var cantidad = prompt("Ingrese la cantidad:");

        if (cantidad !== null) {
            $.ajax({
                url: "/Productos/AddToCart?productId=" + productId + "&cantidad=" + cantidad,
                method: "POST",
                dataType: "json",
                contentType: "application/json"
            }).done(function (response) {
                if (response.success) {
                    toastr.success("Producto agregado al carrito correctamente");
                } else {
                    toastr.error("Error al agregar el producto al carrito");
                }
            });
        }
    }
</script>
